:root {
  --gallery-item-size: 196px;
}

.menu-row {
  display: flex;
}

.century {
  margin: 2px;
}

button {
  margin: 2px;
}

.active {
  background: lightgray;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--gallery-item-size), 1fr)
  );
  grid-row-gap: 1px;
}

.gallery-item {
  background: #eaeaea;
  width: var(--gallery-item-size);
  height: var(--gallery-item-size);
  object-fit: contain;
}

.active-image {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.9);
}
